 /* Large desktops and laptops */
@media (min-width: 1200px) {
body{
	font-size:15px;
}



h1{font-size:29px;}
h2{font-size:24px;}
h3{font-size:18px;}
h4{font-size:16px;}
h5{font-size:13px;}
h6{font-size:12px;}



/* navigation */
  header  .topnav .navbar-nav>li>a:hover{
	  color: #000;
	 background-image: url(../img/general/menu-hover.png);
	 background-position: center top;
	 background-repeat: no-repeat;
  }

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
	 color: #000;
	 background-image: url(../img/general/menu-hover.png);
	 background-position: center top;
	 background-repeat: no-repeat;
 }

 .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
	 color: #000;
	 background-image: url(../img/general/menu-hover.png);
	 background-position: center top;
	 background-repeat: no-repeat;
	  }

.current-menu-ancestor, .current-menu-parent{
	 	 color: #000;
	 	 background-image: url(../img/general/menu-hover.png);
	 	 background-position: center top;
	 	 background-repeat: no-repeat;
	 	  }
/* eof navigation */

}

@media (max-width: 767px) {
	.searchform{max-width:350px;
	margin:auto;}
	.socmediadiv{max-width:350px;
	margin:auto;
		}
}
/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
body{
	font-size:15px;
}

h1{font-size:29px;}
h2{font-size:24px;}
h3{font-size:18px;}
h4{font-size:16px;}
h5{font-size:13px;}
h6{font-size:12px;}

 
}

/* custom tablet */
@media (min-width: 1024px) and (max-width: 1080px) {

	body{
	font-size:15px;
}



h1{font-size:24px;}
h2{font-size:19px;}
h3{font-size:16px;}
h4{font-size:14px;}
h5{font-size:12px;}
h6{font-size:11px;}



	}
/* eof custom tablet */

/* Portrait tablets and small desktops */
@media screen and (min-width: 768px) {
  .dropdown:hover .dropdown-menu, .btn-group:hover .dropdown-menu{
		display: block;
	}
	.dropdown-menu{
		margin-top: 0;
	}
	.dropdown-toggle{
		margin-bottom: 2px;
	}
	.navbar .dropdown-toggle, .nav-tabs .dropdown-toggle{
		margin-bottom: 0;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
body{
	font-size:15px;
}



h1{font-size:24px;}
h2{font-size:19px;}
h3{font-size:16px;}
h4{font-size:14px;}
h5{font-size:12px;}
h6{font-size:11px;}

 }

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
body{
	font-size:13px;
}

h1{font-size:24px;}
h2{font-size:19px;}
h3{font-size:16px;}
h4{font-size:14px;}
h5{font-size:12px;}
h6{font-size:11px;}

/* custom post types */
  .custom-posts .gallery-box{
	  padding: 0px;
  }
/* eof custom post types */
.socmediaicons{
	position: relative;
	margin-top: 15px;
}

.appdownload{width:100%;display:block !important}
}



/* Landscape phones and smaller */
@media (max-width: 480px) {
body{
	font-size:13px;
}


h1{font-size:24px;}
h2{font-size:19px;}
h3{font-size:16px;}
h4{font-size:14px;}
h5{font-size:12px;}
h6{font-size:11px;}

 /* header */
 header .logo{
	 margin: 0 auto;
	 padding-bottom: 5px;
	 max-height: 100px;
 }
 header h1,h2,h3,h4,h5,h6{
	 margin-top: 15px;
  }

  header .search-social a{
	  font-size: 23px;
	  display: inline-block;
	  margin-top: 5px;
  }
 /* eof header */

/* footer */
.copyright{
	text-align: center;
}

.copyright .privacy{
	text-align: center;
}
/* eof footer */

.three-logos-fp p{
	margin:0px;
	padding: 15px;
}
}
.socmediatop{
  margin-bottom:10px !important;
}
.socmediadiv .app img{
  margin-bottom:10px;
}